body {
    padding-top: 150px;
    background-color: rgb(248, 246, 250) !important;
  }

.navbar{
    background-color: rgb(248, 246, 250);
}

.navbar-light .navbar-brand{
    color: #0000;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #0000;
}

.navbar-light .navbar-brand .nav-link{
    color: #fff;
}
/* END OF NAVBAR */

.btn-navbar{
    margin-left: 10px;
    color: black!important;
    background-color:  rgb(248, 246, 250);
    border: 2px solid black;
    border-left-width: 5px;
    border-left-color:  rgb(248, 246, 250);
    border-right-width: 5px;
    border-right-color:  rgb(248, 246, 250);
    border-radius: 4px;
    font-size: small;
    font-weight: bold;
    transition: 0.3s;
}

.btn-navbar:hover{
    color: white !important;
    background-color: black;
    border: 1px solid black;
    
}

.container-body{
    width: 100%;
    /* border: 1px solid black; */
    height: 400px;
    position: relative;
}

.fixie {
    width: 93%;
    height: 100%;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

.fixie > div {
    width: 50%;
}

.fixie-image {
/*  Positions the hero image where you want it   */
    position: absolute;
    left: 15%;
    width: 50vw;
    height: 100%;
    /* margin-left: calc((100vw - 1200px) * -1); */
    /* background: url('images/fixie.jpg'); */
    background: url('images/Baike_phone.gif');
    background-size: 50%;
    background-repeat: no-repeat;
    animation: images 5s 1;
    
}

.welcome-text {
    margin-left: 60%;
    text-align: left;
    /* position:absolute;
    left: 65%;
    top: 40%;
    transform: translateX(-45%) translateY(-60%);
    text-align: left; */
}

.welcome-text h1 {
    text-transform: uppercase;
    letter-spacing: 1px;
    background:  rgb(248, 246, 250) !important;
    animation: text 3s 1;
}

.welcome-text h3 {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    animation: text2 3s 1;
}

.welcome-text .btn-home{
    border-radius: 5px;
    position: absolute;
    width: 150px;
    height: 40px;
    background:  rgb(248, 246, 250);
    border: 3px solid;
    color: black;
    text-transform: uppercase;
    font-size: 16;
    font-weight: bold;
    animation: text2 3s 1;
    transition: 0.8s;
}

.btn-home:hover{
    background-color: black;
    color: white;
    border: 3px black solid;
}


/* footer area */

.white-bg {
    background: #fff;
}

.pb-95 {
    padding-bottom: 95px;
}
.pt-100 {
    padding-top: 100px;
}

  .footer-nav ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-nav ul li {
    margin: 0 19px;
    list-style-type: none;
  }
  .footer-nav ul li a {
    color: #474747;
    font-weight: 600;
    text-transform: uppercase;
  }
  .footer-nav ul li a:hover {
    color: #ee3333;
  }
  .footer-widget-m-content > p {
    color: #585858;
    margin: 0;
  }
  .footer-logo {
    margin-bottom: 25px;
  }
  .footer-nav {
    margin-bottom: 13px;
    padding-bottom: 15px;
    position: relative;
    list-style-type: none;
  }
  .footer-nav:before {
    background: #6d6d6d none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 160px;
  }
  /* .footer-widget-r-content li span {
    font-weight: 600;
    text-transform: uppercase;
  }
  .footer-widget-r-content li {
    color: #585858;
    margin-bottom: 8px;
  }
  .footer-widget-r-content li:last-child {
    margin-bottom: 0px;
  }
  .footer-widget-l-content {
    margin-top: 30px;
  }
  .footer-widget-r-content {
    margin-top: 25px;
  } */




  /* .footer-widget-l-content > h4 {
    color: #585858;
    font-size: 15px;
    letter-spacing: 0.05px;
    margin-bottom: 17px;
  }
  .footer-widget-l-content > ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .footer-widget-l-content > ul li {
    margin-right: 15px;
  }

  .footer-widget-l-content a {
    border: 1px solid #3f3f3f;
    border-radius: 50px;
    color: #585858;
    display: inline-block;
    height: 30px;
    text-align: center;
    width: 30px;
  }

  .footer-widget-l-content a:hover {
    border: 1px solid #ee3333;
    background-color: #ee3333;
    color: #f5f5f5;
  }
  .footer-widget-l-content a i {
    line-height: 29px;
  } */



@keyframes text {
    0%{
        letter-spacing: 0.1px;
        color:  rgb(248, 246, 250) !important;
        margin-bottom: -40px;
    }
    /* 30%{
        letter-spacing: 0.3px;
        margin-bottom: -40px;
    } */
    85%{
        letter-spacing: 0.85px;
        margin-bottom: -40px;
    }
}

@keyframes text2 {
    0%{
        color: white;
        opacity: 0;
    }
    85%{
        color: white;
        opacity: 0;
    }
}

@keyframes images {
    0%{
        opacity: 0;
    }
    60%{
        opacity: 0;
    }

}




/* 
.btn-home::before, .btn-home::after{
    position: fixed;
    top: 0;
    left: 0;

    
    background: red;
    transform: skewX(50deg);
    transition: .4s linear;
} */

 /* .btn-home::before{
    bottom: 20.75%;
    left: 5%
}

.btn-home::after{
    bottom: -0.50%;
    left: 20%
} */


/* .btn-home:hover::after{
    left:5%
}

.btn-home:hover::before{
    left:20%
} */
