h1, h2, h3, h4,h5,span{ font-family: 'Muli',Light; }

.html {
  font-size: 14px;
}

.body{
    position: relative;
}
.content{
    max-width: 1000px;
}

.spacer{
    height: 50px;
    min-height: 50px;
}
/* END OF NAVBAR */


.btn-navbar{
    margin-left: 10px;
    color: black!important;
    background-color:  rgb(248, 246, 250);
    border: 2px solid black;
    border-left-width: 5px;
    border-left-color:  rgb(248, 246, 250);
    border-right-width: 5px;
    border-right-color:  rgb(248, 246, 250);
    border-radius: 4px;
    font-size: small;
    font-weight: bold;
    transition: 0.3s;
}

.baike-color-2{
    color: #aabd8c;
}
.title{
    max-width: 600px;
    text-align: left;
}

.container .row .col p{
  text-align: justify;
}


.fixie {
    width: 93%;
    height: 100%;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

.bg-baike{
    background-color: #3e6990;
    color: #ffffff;
}

.bg-baike-dark{
    background-color: #381d2a;
    color: #ffffff;
}
.bg-baike-border{
    border-color: #3e6990;
    color: #3e6990;
}

.bg-baike-borderonly{
    border-color: #3e6990;
}

.bg-baike-2{
    background-color: #aabd8c;
    color: #ffffff;
}

.bg-baike-3{
    background-color: #f39b6d;
    color: #ffffff;
}

.btn-baike, .btn-baike:visited {
    border-color: #3e6990;
    color: #3e6990;
}
.btn-baike:hover, .btn-baike:active{
    border-color: #3e6990;
    background-color: #3e6990;
    color: #ffffff;
}

.btn-baike-2, .btn-baike-2:visited {
    border-color: #aabd8c;
    color: #aabd8c;
}
.btn-baike-2:hover, .btn-baike-2:active{
    border-color: #aabd8c;
    background-color: #aabd8c;
    color: #ffffff;
}

  .footer-nav ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-nav ul li {
    margin: 0 19px;
    list-style-type: none;
  }
  .footer-nav ul li a {
    color: #474747;
    font-weight: 600;
    text-transform: uppercase;
  }
  .footer-nav ul li a:hover {
    color: #ee3333;
  }
  .footer-widget-m-content > p {
    color: #585858;
    margin: 0;
  }
  .footer-logo {
    margin-bottom: 25px;
  }
  .footer-nav {
    margin-bottom: 13px;
    padding-bottom: 15px;
    position: relative;
    list-style-type: none;
  }
  .footer-nav:before {
    background: #6d6d6d none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 160px;
  }


  .so-card .so-card-body .so-card-text {
    text-align: justify;
  }

  #hide_onload{
    display: none;
   }

   @font-face {
    font-weight: normal;
	font-style: normal;
	font-family: 'feathericons';
	src:url('../fonts/feathericons/feathericons.eot?-8is7zf');
	src:url('../fonts/feathericons/feathericons.eot?#iefix-8is7zf') format('embedded-opentype'),
		url('../fonts/feathericons/feathericons.woff?-8is7zf') format('woff'),
		url('../fonts/feathericons/feathericons.ttf?-8is7zf') format('truetype'),
		url('../fonts/feathericons/feathericons.svg?-8is7zf#feathericons') format('svg');
}

.grid {
	position: relative;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 1200px;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 340px;
	max-width: 340px;
	max-height: 390px;
	width: 48%;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure h3 {
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
	word-spacing: -0.05em;
	font-weight: 200;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/*---------------*/
/***** Dexter *****/
/*---------------*/

figure.effect-dexter {
	background: -webkit-linear-gradient(top, rgba(37,141,200,1) 0%, rgba(104,60,19,1) 100%);
	background: linear-gradient(to bottom, rgba(37,141,200,1) 0%,rgba(104,60,19,1) 100%); 
}

figure.effect-dexter img {
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-dexter:hover img {
	opacity: 0.4;
}

figure.effect-dexter figcaption::after {
	position: absolute;
	right: 10px;
	bottom: 30px;
	left: 10px;
	height: -webkit-calc(50% - 25px);
	height: calc(50% - 30px);
	border: 7px solid #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,-100%,0);
	transform: translate3d(0,-100%,0);
}

figure.effect-dexter:hover figcaption::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-dexter figcaption {
  
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 2.5em;
	text-align: left;
}

figure.effect-dexter p {
	position: absolute;
	right: 30px;
	bottom: 60px;
	left: 30px;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,-100px,0);
	transform: translate3d(0,-100px,0);
}

figure.effect-dexter:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}


/*---------------*/
/*****Solutions card *****/
/*---------------*/


.so-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
}

.so-card {
  width: 450px;
  height: 250px;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
}

.so-card h1 {
  text-align: center;
}

.so-card .additional {
  position: absolute;
  width: 150px;
  height: 100%;
  background: linear-gradient(#dE685E, #EE786E);
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}

.so-card.green .additional {
  background: linear-gradient(#92bCa6, #A2CCB6);
}


.so-card:hover .additional {
  width: 100%;
  border-radius: 0 5px 5px 0;
}

.so-card .additional .user-so-card {
  width: 150px;
  height: 100%;
  position: relative;
  float: left;
}

.so-card .additional .user-so-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 80%;
  border-left: 2px solid rgba(0,0,0,0.025);*/
}

.so-card .additional .user-so-card .level,
.so-card .additional .user-so-card .points {
  top: 15%;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  background: rgba(0,0,0,0.15);
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
  white-space: nowrap;
}

.so-card .additional .user-so-card .points {
  top: 85%;
}

.so-card .additional .user-so-card svg {
  top: 50%;
  font-family: FontAwesome;
}

.so-card .additional .more-info {
  width: 300px;
  float: left;
  position: absolute;
  left: 150px;
  height: 100%;
}

.so-card .additional .more-info h1 {
  color: #fff;
  margin-bottom: 0;
}

.so-card.green .additional .more-info h1 {
  color: #224C36;
}


.so-card .additional .coords {
  margin: 0 1rem;
  color: #fff;
  font-size: 1rem;
}

.so-card.green .additional .coords {
  color: #325C46;
}

.so-card .additional .coords span + span {
  float: right;
}

.so-card .additional .stats {
  font-size: 2rem;
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  top: auto;
  color: #fff;
}

.so-card.green .additional .stats {
  color: #325C46;
}

.so-card .additional .stats > div {
  flex: 1;
  text-align: center;
}

.so-card .additional .stats i {
  display: block;
}

.so-card .additional .stats div.title {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.so-card .additional .stats div.value {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.so-card .additional .stats div.value.infinity {
  font-size: 2.5rem;
}

.so-card .general {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
}

.so-card .general p {
  text-align: justify;
}

.so-card .general .more {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.9em;
}








  

.baike_bicycle {
    background: url('images/symbol_white.svg');
	background-repeat: no-repeat;
    height: 100px;
    width: 100px;
	display: inline-block;
}

.baike2_bicycle {
    background: url('images/bike_2_trans_nosq.png');
	background-repeat: no-repeat;
	background-size: 100%;
	min-height: 667px;
}

.bg-bicycle {
    background: url('images/bike_white_bg.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	min-height: 667px;
}


#hide_onload{
 display: none;
}


.mac {
  background: url(images/imac.png) 0 0 no-repeat;
  background-size: 100%;

  color: white;
  margin-bottom: 77px;
  padding: 38px 38px 267px;
  position: relative;
  min-height:778px;
  max-height:778px;

}

.bg-pattern-2{
    background-image: url('images/bg-pattern-2.svg');
    background-size: 100px;
    color: white;

}

.bg-pattern-3{
    background-image: url('images/bg-pattern-3.svg');
    background-size: 100px;
    color: white;
}


.view{
background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.46'%3E%3Cpolygon fill='%23fafafa' points='800 100 0 200 0 800 1600 800 1600 200'/%3E%3Cpolygon fill='%23f5f5f5' points='800 200 0 400 0 800 1600 800 1600 400'/%3E%3Cpolygon fill='%23f0f0f0' points='800 300 0 600 0 800 1600 800 1600 600'/%3E%3Cpolygon fill='%23eaeaea' points='1600 800 800 400 0 800'/%3E%3Cpolygon fill='%23e5e5e5' points='1280 800 800 500 320 800'/%3E%3Cpolygon fill='%23e0e0e0' points='533.3 800 1066.7 800 800 600'/%3E%3Cpolygon fill='%23dbdbdb' points='684.1 800 914.3 800 800 700'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}

.bg-pattern{
    background-color: #f6efa6;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23f39b6d' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23f6efa6' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23e1eaa3' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23cde4a1' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23b9dea0' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23a5d8a1' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%2392d1a2' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%2380caa4' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%236ec2a6' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%235ebaa8' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%234fb2a9' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%2341a9aa' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%2336a1aa' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%232f98a9' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%232c8fa6' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%232e85a3' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23327c9e' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23387297' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%233e6990' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

