body {
    padding-top: 150px;
    background-color: rgb(248, 246, 250) !important;
  }

.navbar{
    background-color: rgb(248, 246, 250);
}

.navbar-light .navbar-brand{
    color: #0000;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #0000;
}

.navbar-light .navbar-brand .nav-link{
    color: #fff;
}
/* END OF NAVBAR */


.btn-navbar{
    margin-left: 10px;
    color: black!important;
    background-color:  rgb(248, 246, 250);
    border: 2px solid black;
    border-left-width: 5px;
    border-left-color:  rgb(248, 246, 250);
    border-right-width: 5px;
    border-right-color:  rgb(248, 246, 250);
    border-radius: 4px;
    font-size: small;
    font-weight: bold;
    transition: 0.3s;
}

.btn-navbar:hover{
    color: white !important;
    background-color: black;
    border: 1px solid black;
    
}

.container-body{
    width: 100%;
    /* border: 1px solid black; */
    height: 400px;
    position: relative;
}

.container .row .col p{
  text-align: justify;
}


.fixie {
    width: 93%;
    height: 100%;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

.fixie > div {
    width: 50%;
}

.fixie-image {
/*  Positions the hero image where you want it   */
    position: absolute;
    left: 15%;
    width: 50vw;
    height: 100%;
    /* margin-left: calc((100vw - 1200px) * -1); */
    /* background: url('images/fixie.jpg'); */
    background: url('images/Baike_phone.gif');
    background-size: 50%;
    background-repeat: no-repeat;
    animation: images 5s 1;
    
}

.welcome-text {
    margin-left: 60%;
    text-align: left;
    /* position:absolute;
    left: 65%;
    top: 40%;
    transform: translateX(-45%) translateY(-60%);
    text-align: left; */
}

.welcome-text h1 {
    text-transform: uppercase;
    letter-spacing: 1px;
    background:  rgb(248, 246, 250) !important;
    animation: text 3s 1;
}

.welcome-text h3 {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    animation: text2 3s 1;
}

.welcome-text .btn-home{
    border-radius: 5px;
    position: absolute;
    width: 150px;
    height: 40px;
    background:  rgb(248, 246, 250);
    border: 3px solid;
    color: black;
    text-transform: uppercase;
    font-size: 16;
    font-weight: bold;
    animation: text2 3s 1;
    transition: 0.8s;
}

.btn-home:hover{
    background-color: black;
    color: white;
    border: 3px black solid;
}


/* footer area */

.white-bg {
    background: #fff;
}

.pb-95 {
    padding-bottom: 95px;
}
.pt-100 {
    padding-top: 100px;
}

  .footer-nav ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-nav ul li {
    margin: 0 19px;
    list-style-type: none;
  }
  .footer-nav ul li a {
    color: #474747;
    font-weight: 600;
    text-transform: uppercase;
  }
  .footer-nav ul li a:hover {
    color: #ee3333;
  }
  .footer-widget-m-content > p {
    color: #585858;
    margin: 0;
  }
  .footer-logo {
    margin-bottom: 25px;
  }
  .footer-nav {
    margin-bottom: 13px;
    padding-bottom: 15px;
    position: relative;
    list-style-type: none;
  }
  .footer-nav:before {
    background: #6d6d6d none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 160px;
  }


  .so-card .so-card-body .so-card-text {
    text-align: justify;
  }

  #hide_onload{
    display: none;
   }

   @font-face {
    font-weight: normal;
	font-style: normal;
	font-family: 'feathericons';
	src:url('../fonts/feathericons/feathericons.eot?-8is7zf');
	src:url('../fonts/feathericons/feathericons.eot?#iefix-8is7zf') format('embedded-opentype'),
		url('../fonts/feathericons/feathericons.woff?-8is7zf') format('woff'),
		url('../fonts/feathericons/feathericons.ttf?-8is7zf') format('truetype'),
		url('../fonts/feathericons/feathericons.svg?-8is7zf#feathericons') format('svg');
}

.grid {
	position: relative;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 1200px;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 340px;
	max-width: 340px;
	max-height: 390px;
	width: 48%;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure h3 {
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
	word-spacing: -0.05em;
	font-weight: 200;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/*---------------*/
/***** Dexter *****/
/*---------------*/

figure.effect-dexter {
	background: -webkit-linear-gradient(top, rgba(37,141,200,1) 0%, rgba(104,60,19,1) 100%);
	background: linear-gradient(to bottom, rgba(37,141,200,1) 0%,rgba(104,60,19,1) 100%); 
}

figure.effect-dexter img {
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-dexter:hover img {
	opacity: 0.4;
}

figure.effect-dexter figcaption::after {
	position: absolute;
	right: 10px;
	bottom: 30px;
	left: 10px;
	height: -webkit-calc(50% - 25px);
	height: calc(50% - 30px);
	border: 7px solid #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,-100%,0);
	transform: translate3d(0,-100%,0);
}

figure.effect-dexter:hover figcaption::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-dexter figcaption {
  
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 2.5em;
	text-align: left;
}

figure.effect-dexter p {
	position: absolute;
	right: 30px;
	bottom: 60px;
	left: 30px;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,-100px,0);
	transform: translate3d(0,-100px,0);
}

figure.effect-dexter:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}


/*---------------*/
/*****Solutions card *****/
/*---------------*/


.so-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
}

.so-card {
  width: 450px;
  height: 250px;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
}

.so-card h1 {
  text-align: center;
}

.so-card .additional {
  position: absolute;
  width: 150px;
  height: 100%;
  background: linear-gradient(#dE685E, #EE786E);
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}

.so-card.green .additional {
  background: linear-gradient(#92bCa6, #A2CCB6);
}


.so-card:hover .additional {
  width: 100%;
  border-radius: 0 5px 5px 0;
}

.so-card .additional .user-so-card {
  width: 150px;
  height: 100%;
  position: relative;
  float: left;
}

.so-card .additional .user-so-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 80%;
  border-left: 2px solid rgba(0,0,0,0.025);*/
}

.so-card .additional .user-so-card .level,
.so-card .additional .user-so-card .points {
  top: 15%;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  background: rgba(0,0,0,0.15);
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
  white-space: nowrap;
}

.so-card .additional .user-so-card .points {
  top: 85%;
}

.so-card .additional .user-so-card svg {
  top: 50%;
  font-family: FontAwesome;
}

.so-card .additional .more-info {
  width: 300px;
  float: left;
  position: absolute;
  left: 150px;
  height: 100%;
}

.so-card .additional .more-info h1 {
  color: #fff;
  margin-bottom: 0;
}

.so-card.green .additional .more-info h1 {
  color: #224C36;
}


.so-card .additional .coords {
  margin: 0 1rem;
  color: #fff;
  font-size: 1rem;
}

.so-card.green .additional .coords {
  color: #325C46;
}

.so-card .additional .coords span + span {
  float: right;
}

.so-card .additional .stats {
  font-size: 2rem;
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  top: auto;
  color: #fff;
}

.so-card.green .additional .stats {
  color: #325C46;
}

.so-card .additional .stats > div {
  flex: 1;
  text-align: center;
}

.so-card .additional .stats i {
  display: block;
}

.so-card .additional .stats div.title {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.so-card .additional .stats div.value {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.so-card .additional .stats div.value.infinity {
  font-size: 2.5rem;
}

.so-card .general {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
}

.so-card .general p {
  text-align: justify;
}

.so-card .general .more {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.9em;
}








  


@keyframes text {
    0%{
        letter-spacing: 0.1px;
        color:  rgb(248, 246, 250) !important;
        margin-bottom: -40px;
    }
    /* 30%{
        letter-spacing: 0.3px;
        margin-bottom: -40px;
    } */
    85%{
        letter-spacing: 0.85px;
        margin-bottom: -40px;
    }
}

@keyframes text2 {
    0%{
        color: white;
        opacity: 0;
    }
    85%{
        color: white;
        opacity: 0;
    }
}

@keyframes images {
    0%{
        opacity: 0;
    }
    60%{
        opacity: 0;
    }

}




/* 
.btn-home::before, .btn-home::after{
    position: fixed;
    top: 0;
    left: 0;

    
    background: red;
    transform: skewX(50deg);
    transition: .4s linear;
} */

 /* .btn-home::before{
    bottom: 20.75%;
    left: 5%
}

.btn-home::after{
    bottom: -0.50%;
    left: 20%
} */


/* .btn-home:hover::after{
    left:5%
}

.btn-home:hover::before{
    left:20%
} */
